<template>
    <div>
        {{ index }}
        <v-app>
            <v-text-field color="success" loading disabled></v-text-field>
        </v-app>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                index: null
            }
        },
        mounted () {
            axios.get('/api/timeline').then((response) => {
                this.index = response.data.data
            })
        }
    }
</script>
