<template>
    <v-app>
        <v-data-table
            v-model="selected"
            :headers="headers"
            :items="orders"
            :single-select="singleSelect"
            item-key="name"
            show-select
            class="elevation-1"
        >
        </v-data-table>
    </v-app>
</template>

<script>

    import { mapGetters } from 'vuex'

    export default {
        name: 'orders',
        data () {
            return {
                singleSelect: false,
                selected: [],
                headers: [
                    {
                        text: 'Dessert (100g serving)',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                    { text: 'Calories', value: 'calories' },
                    { text: 'Fat (g)', value: 'fat' },
                    { text: 'Carbs (g)', value: 'carbs' },
                    { text: 'Protein (g)', value: 'protein' },
                    { text: 'Iron (%)', value: 'iron' },
                ],
            }
        },
        computed: {
            ...mapGetters({
                orders: 'orders/getOrders'
            })
        }
    }
</script>
